<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd"  >
<suite name="All Test Suite" parallel="methods"   >
    <test name="tets">
     <classes>
         <class name="class_test">
           <methods>
               <include name="M_TC1_1"/>
               <include name="M_TC1_2"/>
               <include name="M_TC1_3"/>
           </methods>
         </class>

     </classes>
    </test>
</suite>

